<section class="container py-4 mt-5">
    <h2 class="text-center my-3 mb-3 termsheader" >{{ section.settings.title }}</h2>
    <p class="text-center mb-5 termstext">{{ section.settings.paragraph }}</p>

<!-- ROW 1 Start -->
<div class="row">
        <div class="col">
            <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
                <a href="{{ section.settings.prod1link }}"><img class="card-img-top" src="{{ section.settings.prod1img | img_url: 'master' }}"></a>
            </div>
            <div>
                <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod1link }}">{{ section.settings.prod1title }}</a></h3>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
                <a href="{{ section.settings.prod2link }}"><img class="card-img-top" src="{{ section.settings.prod2img | img_url: 'master' }}"></a>
            </div>
            <div>
                <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod2link }}">{{ section.settings.prod2title }}</a></h3>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
                <a href="{{ section.settings.prod3link }}"><img class="card-img-top" src="{{ section.settings.prod3img | img_url: 'master' }}"></a>
            </div>
            <div>
                <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod3link }}">{{ section.settings.prod3title }}</a></h3>
            </div>
        </div>
</div>
<!-- ROW 1 End -->

<!-- ROW 2 Start -->
<div class="row mt-5">
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod4link }}"><img class="card-img-top" src="{{ section.settings.prod4img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod4link }}">{{ section.settings.prod4title }}</a></h3>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod5link }}"><img class="card-img-top" src="{{ section.settings.prod5img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod5link }}">{{ section.settings.prod5title }}</a></h3>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod6link }}"><img class="card-img-top" src="{{ section.settings.prod6img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod6link }}">{{ section.settings.prod6title }}</a></h3>
        </div>
    </div>
</div>
<!-- ROW 2 End -->

<!-- ROW 3 Start -->
<div class="row mt-5">
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod7link }}"><img class="card-img-top" src="{{ section.settings.prod7img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod7link }}">{{ section.settings.prod7title }}</a></h3>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod8link }}"><img class="card-img-top" src="{{ section.settings.prod8img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod8link }}">{{ section.settings.prod8title }}</a></h3>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod9link }}"><img class="card-img-top" src="{{ section.settings.prod9img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod9link }}">{{ section.settings.prod9title }}</a></h3>
        </div>
    </div>
</div>
<!-- ROW 3 End -->

<!-- ROW 4 Start -->
<div class="row mt-5">
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod10link }}"><img class="card-img-top" src="{{ section.settings.prod10img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod10link }}">{{ section.settings.prod10title }}</a></h3>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod11link }}"><img class="card-img-top" src="{{ section.settings.prod11img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod11link }}">{{ section.settings.prod11title }}</a></h3>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod12link }}"><img class="card-img-top" src="{{ section.settings.prod12img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod12link }}">{{ section.settings.prod12title }}</a></h3>
        </div>
    </div>
</div>
<!-- ROW 4 End -->

<!-- ROW 5 Start -->
<div class="row mt-5 mb-5">
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod13link }}"><img class="card-img-top" src="{{ section.settings.prod13img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod13link }}">{{ section.settings.prod13title }}</a></h3>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod14link }}"><img class="card-img-top" src="{{ section.settings.prod14img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod14link }}">{{ section.settings.prod14title }}</a></h3>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
            <a href="{{ section.settings.prod15link }}"><img class="card-img-top" src="{{ section.settings.prod15img | img_url: 'master' }}"></a>
        </div>
        <div>
            <h3><a style="font-size: 14px; color: black; text-decoration: none; text-transform: uppercase;" href="{{ section.settings.prod15link }}">{{ section.settings.prod15title }}</a></h3>
        </div>
    </div>
</div>
<!-- ROW 5 End -->

</section>

{% schema %}
{
    "name": "Collection-All-Section",
    "class": "Collection-All-Section",
    "settings": [

        {
            "type": "text",
            "id": "title",
            "default": "Example Title",
            "label": "Title"
        },

        {
            "type": "text",
            "id": "paragraph",
            "default": "Example Paragraph",
            "label": "Paragraph"
        },

         {
            "type": "image_picker",
            "id": "prod1img",
            "label": "Product 1 Image"
        },

        {
            "type": "text",
            "id": "prod1link",
            "default": "https://google.com/",
            "label": "Product 1 Link"
        },

        {
            "type": "text",
            "id": "prod1title",
            "default": "Product Name",
            "label": "Product 1 Title"
        },

        {
           "type": "image_picker",
           "id": "prod2img",
           "label": "Product 2 Image"
       },

       {
           "type": "text",
           "id": "prod2link",
           "default": "http://",
           "label": "Product 2 Link"
       },

       {
           "type": "text",
           "id": "prod2title",
           "default": "Product Name",
           "label": "Product 2 Title"
       },

       {
          "type": "image_picker",
          "id": "prod3img",
          "label": "Product 3 Image"
      },

      {
          "type": "text",
          "id": "prod3link",
          "default": "http://",
          "label": "Product 3 Link"
      },

      {
          "type": "text",
          "id": "prod3title",
          "default": "Product Name",
          "label": "Product 3 Title"
      },

      {
         "type": "image_picker",
         "id": "prod4img",
         "label": "Product 4 Image"
     },

     {
         "type": "text",
         "id": "prod4link",
         "default": "http://",
         "label": "Product 4 Link"
     },

     {
         "type": "text",
         "id": "prod4title",
         "default": "Product Name",
         "label": "Product 4 Title"
     },

     {
        "type": "image_picker",
        "id": "prod5img",
        "label": "Product 5 Image"
    },

    {
        "type": "text",
        "id": "prod5link",
        "default": "http://",
        "label": "Product 5 Link"
    },

    {
        "type": "text",
        "id": "prod5title",
        "default": "Product Name",
        "label": "Product 5 Title"
    },

    {
       "type": "image_picker",
       "id": "prod6img",
       "label": "Product 6 Image"
   },

   {
       "type": "text",
       "id": "prod6link",
       "default": "http://",
       "label": "Product 6 Link"
   },

   {
       "type": "text",
       "id": "prod6title",
       "default": "Product Name",
       "label": "Product 6 Title"
   },

   {
      "type": "image_picker",
      "id": "prod7img",
      "label": "Product 7 Image"
  },

  {
      "type": "text",
      "id": "prod7link",
      "default": "http://",
      "label": "Product 7 Link"
  },

  {
      "type": "text",
      "id": "prod7title",
      "default": "Product Name",
      "label": "Product 7 Title"
  },

  {
     "type": "image_picker",
     "id": "prod8img",
     "label": "Product 8 Image"
 },

 {
     "type": "text",
     "id": "prod8link",
     "default": "http://",
     "label": "Product 8 Link"
 },

 {
     "type": "text",
     "id": "prod8title",
     "default": "Product Name",
     "label": "Product 8 Title"
 },

 {
    "type": "image_picker",
    "id": "prod9img",
    "label": "Product 9 Image"
},

{
    "type": "text",
    "id": "prod9link",
    "default": "http://",
    "label": "Product 9 Link"
},

{
    "type": "text",
    "id": "prod9title",
    "default": "Product Name",
    "label": "Product 9 Title"
},

{
   "type": "image_picker",
   "id": "prod10img",
   "label": "Product 10 Image"
},

{
   "type": "text",
   "id": "prod10link",
   "default": "http://",
   "label": "Product 10 Link"
},

{
   "type": "text",
   "id": "prod10title",
   "default": "Product Name",
   "label": "Product 10 Title"
},

{
   "type": "image_picker",
   "id": "prod11img",
   "label": "Product 11 Image"
},

{
   "type": "text",
   "id": "prod11link",
   "default": "http://",
   "label": "Product 11 Link"
},

{
   "type": "text",
   "id": "prod11title",
   "default": "Product Name",
   "label": "Product 11 Title"
},

{
   "type": "image_picker",
   "id": "prod12img",
   "label": "Product 12 Image"
},

{
   "type": "text",
   "id": "prod12link",
   "default": "http://",
   "label": "Product 12 Link"
},

{
   "type": "text",
   "id": "prod12title",
   "default": "Product Name",
   "label": "Product 12 Title"
},

{
   "type": "image_picker",
   "id": "prod13img",
   "label": "Product 13 Image"
},

{
   "type": "text",
   "id": "prod13link",
   "default": "http://",
   "label": "Product 13 Link"
},

{
   "type": "text",
   "id": "prod13title",
   "default": "Product Name",
   "label": "Product 13 Title"
},

{
   "type": "image_picker",
   "id": "prod14img",
   "label": "Product 14 Image"
},

{
   "type": "text",
   "id": "prod14link",
   "default": "http://",
   "label": "Product 14 Link"
},

{
   "type": "text",
   "id": "prod14title",
   "default": "Product Name",
   "label": "Product 14 Title"
},

{
   "type": "image_picker",
   "id": "prod15img",
   "label": "Product 15 Image"
},

{
   "type": "text",
   "id": "prod15link",
   "default": "http://",
   "label": "Product 15 Link"
},

{
   "type": "text",
   "id": "prod15title",
   "default": "Product Name",
   "label": "Product 15 Title"
}

    ],
    "presets": [
        {
            "category": "Collection",
            "name":"Collection-All Page Section"
        }
    ]
}
{% endschema %}