<section class="drawer" id="drawer-name" data-drawer-target>
    <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
    <div class="drawer__wrapper">
      <div class="drawer__header">
        <div>
          <h2 class="cartheader">Your Cart</h2>
        </div>
        <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
      </div>
     
      <div class="">
          <p class="cartdescription text-center mt-3">SPEND £34 FOR FREE SHIPPING</p>
        <hr style="width: 100%;">
        
        <div id="drawer_cart_items">
          
          {% if cart.item_count > 0 %}
  <div class="container" style="padding-right: 50px; padding-left: 50px;">
  
    <div class="my-2">
      <form action="/cart" method="POST" class="row" novalidate>
        <div class="col-12">
              <table>
                <tbody>
                  {% for item in cart.items %}
                      <tr style="border-bottom: 1px solid lightgray;">
                      <td style="padding-bottom: 30px; padding-top: 20px;">
                        <a href="{{ item.url | within: collections.all }}">
                          <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
                        </a>
                      </td>
                      <td style="padding-bottom: 30px; padding-top: 20px;">
                        <a class="cartitemtitle" href="{{ item.url }}">{{ item.product.title }} - {{ item.variant.title }}</a>
                        <input class="mt-3" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="1">
                      </td>
                      <td style="padding-bottom: 30px; padding-top: 20px;">
                        <p class="cartitemtitle" style="text-align: right;">{{ item.price | money }}</p>
                        <a class="removebtn" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a>
                      </td>
                    </tr>
                    
                  {% endfor %}
                </tbody>
              </table>
            </div>
      </form>
    </div>
  </div>
        <div class="text-center" style="margin-top: 40px;">
            <a href="/checkout" class="btn cartbutton my-auto" id="drawer_checkout_btn">Proceed To Checkout - {{ cart.total_price | money }} </a>
            <h3 class="cartheader2 mt-5">You Might Also Like</h3>
        </div>

        <section class="container py-4 mt-3" style="padding-right: 50px; padding-left: 50px;">
            
            <div class="row">
            {% for product in collections[section.settings.featured_collection].products %}
            
            {% assign image = product.featured_media.preview_image %}
                <div class="col">
                    <div class="card" style="width: 100%; background-color: #FAFAFA; border: none; border-radius: 0;">
                        {% if image != blank %}
                            <a href="{{ product.url }}"><img class="card-img-top" src="{{ image | img_url: 'large' }}" alt="{{ product.title }}"></a>
                            {% else %}
                                {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                        {% endif %}
                    </div>
                    <div>
                        <h3><a class="relatedproducttitle" href="{{ product.url }}">{{ product.title }}</a></h3>
                        <p class="relatedproducttitle">{{ product.price | money }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        </section>
  

  {% else %} 
  
    <div class="container">
      <div class="row">
        <p>Cart is empty</p>
      </div>
    </div>
          
  {% endif %}
  
  
          
    </div>
   </div>
  </div>
    
  </section>
  
  {% schema %}
{
    "name": "Featured Collection", 
    "class": "featured-collection-section",
    "settings": [ 
    
    {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
    },
    {
        "type": "text",
        "id": "title",
        "default": "Featured Collection",
        "label": "Title"
    }
    ],
    "presets": [
    {
        "category": "Collection",
        "name": "Featured Collection"
    }
    
    ]

}
{% endschema %}

